<!--
Authors: Bessy Torres-Miller , Kianna Dyck
Date: 05/06/2018
File Name: admin-teams.html
This is the page that list all the teams from the admin view, with the option to remove teams
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Teams</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />

</head>
<body>

<!-- Navigation Menu -->
<include href="views/html/components/nav.html" />

<div id="wrapper">

    <!-- Main Content -->
    <div class="container">
        <h1 class="text-center">Marketing Teams</h1>
        <br>

        <!-- Team List -->
        <check if="{{isset (@noTeams) }}">
            <p class="text-center">{{ @noTeams }}</p>
        </check>

        <div class="list-group">

            <repeat group="{{ @teams }}" value="{{ @team }}" >
                <div class="row">
                    <div class="col-10">
                        <!--  Link to each team page -->
                        <a href= "{{ @BASE }}/teams/{{ @team['teamId']}}"
                           class="list-group-item list-group-item-action list-bg padding-2">{{ @team['team_name'] }}</a><br>
                    </div>

                    <div class="col-2">
                        <!--  Remove button-->
                        <a class="btn bg-danger float-right remove" href= "{{ @BASE }}/remove/{{ @team['teamId']}}">
                            <span class="text-white removeTeam">Remove</span></a>
                    </div>
                </div>
            </repeat>
        </div>
    </div> <!-- container -->
</div> <!-- wrapper -->


<!-- Scripts -->

<!-- Scripts -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- jQuery -->
<script src="{{ @BASE }}/views/js/jquery.min.js"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>

<!-- Bootstrap js -->
<script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>
<script src="{{ @BASE }}/views/js/bootstrap.bundle.min.js"></script>


</body>

</html>