<!--
    Authors: Quentin Guenther
    Date: 05/06/2018
    Name of File: admin-team-view.html
    Purpose: This page displays all teams and allows the user to visit each team's page.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />

</head>
<body>
<!-- Navigation Menu -->
<include href="views/html/components/nav.html" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Team View</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Team Name</th>
                            <th scope="col">Members</th>
                            <th scope="col"># Of Posts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='clickable-row' data-url="team-agility">
                            <td>Team Agility</td>
                            <td>Bessy, Jen, Kianna, Quentin</td>
                            <td>5</td>
                        </tr>
                        <tr class='clickable-row' data-url="team-2">
                            <td>Team 2</td>
                            <td>Jim, Andy, Pam, Michael</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<!-- jQuery -->
<script src="{{ @BASE }}/views/js/jquery.min.js"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>

<!-- Bootstrap js -->
<script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>
<script src="{{ @BASE }}/views/js/bootstrap.bundle.min.js"></script>

<script src="{{ @BASE }}/views/js/clickable-table-links.js"></script>
</body>
</html>