<!--
Authors: Bessy Torres-Miller
Date: 05/06/2018
File Name: faq.html
Purpose: To show to the student a list with the frequently asked questions
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Frequently Ask Questions</title>

    <!--jQuery library-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/simple-sidebar.css" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />

</head>
<body>

<!-- Navigation Menu -->
<include href="views/html/components/nav.html" />

<div id="wrapper">

    <!-- Main Content -->
    <div class="container">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <br>

        <h3 class="text-success font-weight-bold">Change Teams</h3>
        <p>If you pick the wrong team when you created your account, you can change you teams. This option is under the
            help link in the nav bar. You are able to change team just one time</p><br>

        <h3 class="text-success font-weight-bold">About this Site</h3>
        <p>Tool for students in BAS in Marketing & Entrepreneurship to collaborate in teams by creating posts with
            project ideas, modifying created posts and voting for the posts of your preference</p><br>

        <h3 class="text-success font-weight-bold">Voting System</h3>
        <p>Vote for a post idea that you like by assigning a quantity of points. You originally have 10
            points to distribute between the projects of your preference.</p><br>

        <h3 class="text-success font-weight-bold">Editing a Post System</h3>
        <p>You can edit the current version of a post; this new edited version will be saved as the current. You can
            also set as current version any of the previous post versions that are listed under the post.</p><br>



    </div> <!-- container -->

</div> <!-- wrapper -->

<!-- Scripts -->
<!-- jQuery -->
<script src="{{ @BASE }}/views/js/jquery.min.js"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>

<!-- Bootstrap js -->
<script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>
<script src="{{ @BASE }}/views/js/bootstrap.bundle.min.js"></script>

</body>

</html>