<!--
Authors: Bessy Torres-Miller, Jen Shin
Date: 05/06/2018
File Name: faq.html
Purpose: To show to the student a list with the frequently asked questions
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Frequently Ask Questions</title>

    <!--jQuery library-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/simple-sidebar.css" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />

</head>
<body>

<!-- Navigation Menu -->
<include href="views/html/components/nav.html" />

<div id="wrapper">

    <!-- Main Content -->
    <div class="container">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <br>

        <h3 class="text-success font-weight-bold">About this Site</h3>
        <p>This is a tool for students to collaborate with their teams. Its purpose is to help students brainstorm. Members
            can create a new post that represents an idea for a project, modify these posts, and vote for the best ideas.</p>
        <p>Your home page shows a list of ideas from all members of your team. You could view and edit an idea by clicking on the title.
         The number of votes a post has is displayed with the title, and the list is ordered by most to least votes. If all posts have 0 points,
        the newest post is at the end of the list. </p><br>


        <h3 class="text-success font-weight-bold">How do I change teams?</h3>
        <p>If you picked the wrong team when you created your account, you can change your team <b>one time</b>.
            This option is under the help link in the nav bar. Once again, you are able to change teams just once.</p><br>

        <h3 class="text-success font-weight-bold">How do I vote?</h3>
        <p>Vote for a post idea you like by assigning a quantity of points. You originally have 10
            points to distribute between the projects of your preference. Each member gets a total of 10 points,
            which could be allocated to different posts, ie 1 point, 2, points, 7 points. To save the vote, remember to
            press the blue "Vote!" button after you set the desired number of points.
        <p>You can also take back the points that you gave to a project, if you want them back to vote for another idea. Go to
            the project where you want to remove your votes, and the box voting will show the points that you gave to that
            post, then just modify the quantity. Leave 0 to take all the given points back or just the ones that you want.</p>
        <p>Newly created posts are added to the bottom of the list on your team home page. The list is sorted by the amount of votes,
            ie the post with the most votes will be at the top, followed by the post with the second most votes.

        </p><br>

        <h3 class="text-success font-weight-bold">How do I edit a post?</h3>
        <p>You can edit a current version of a post which will be saved as the most current version.</p>
        <p>To edit a post, click on the title on your team home page to view the post and its versions. On this page, you have the option to edit. To edit,
        click the green "Edit" button, which will allow you to change the post content. When you are ready, click the save button located on the bottom left,
        below the post content. To cancel your edits, click the red "Cancel" button on the top right, above the post content.</p>
        <p>You can also revert to an older version: you may set a previous version to be the current of the post versions that
            are listed under the post by clicking that version and choosing the blue "set as current version" button.</p><br>

    </div> <!-- container -->

</div> <!-- wrapper -->

<!-- Scripts -->
<!-- jQuery -->
<script src="{{ @BASE }}/views/js/jquery.min.js"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>

<!-- Bootstrap js -->
<script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>

</body>

</html>