<!--
    Name: Quentin, Kianna, Jen, Bessy
    Date: 04/10/2018
    Name of File: home.html
    Purpose: This page allows students to create a new post about a product idea.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />
    
    <!-- Quill -->
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />
</head>
<body>
    
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <form id="idea-form" method="post" action="#">
                    <div class="form-group">
                        <br/>
                        Post Title <input type = "text" id ="title" name = "title" class="form-control">
                        <span class="text-danger">{{ @titleErr }}<br/></span>
                        <br/>

                        <label>New Post</label>
                        <input type = "hidden" name = "new-post">
                        <div id="editor-container" name = "content" ref="quil-editor"></div>
                        <span class="text-danger">{{ @contentErr}}</span>
                    </div>

                    <input type="submit" id = "submit"  name = "submit" class="btn btn-primary" value="Add Post" />
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>
    <!-- jQuery Library -->
    <script src="{{ @BASE }}/views/js/jquery.min.js"></script>
    <!-- Quill js -->
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <!-- External js
    <script src="{{ @BASE }}/views/js/post.js"></script>-->

    <script>
        var quill = new Quill("[ref='quil-editor']", {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block']
                ]
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'  // or 'bubble'
        });

        var form = document.querySelector('form');
        form.onsubmit = function() {
            //populate hidden form on submit
            var newpost = document.querySelector('input[name=new-post]');
            newpost.value = JSON.stringify(quill.getContents());

            console.log("Success", $(form).serialize(), $(form).serializeArray());

            //to grab image, newpost.insert.image

            return true;
        }

        /*$("#idea-form").submit(function(event){
           event.preventDefault();

           var $form = $(this),
               url = $form.attr('action');

           window.delta = quill.getContents();

           var content = JSON.stringify(window.delta);

           //var posting = $.post(url, {title: $('#title').val(), content: content});

           $.ajax({
              type: "POST",
              url: "/",
              data: {title: $('#title').val(), content: content},
               success: alert("success"),
               statusCode: {
                  404: function(){alert("error")}
               },
               dataType: JSON
           });

           posting.done(function(data){
               alert("success");
           });
        });
        $('#submit').click(function() {
            window.delta = quill.getContents();
           // alert(window.delta.toString());
            //console.log(delta);//save to db as json format
        });

*/

    </script>
</body>
</html>