<!--
    Authors: Kianna Dyck, Jen Shin, Bessy Torres-Miller, Quentin Guenther
    Date: 04/10/2018
    Name of File: home.html
    Purpose: This page allows students to log in with their email and password.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />
</head>
<body>
    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-green-river-green mb-2">
        <a class="navbar-brand" href="{{ @BASE }}/register">Register</a>
    </nav>

    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Create or join a team, post and edit your team ideas, and vote for the best project proposal!</p>

                <hr>

                <h2 class="text-center">Login to Your Team's Project Proposal Page</h2>
                <form method="post" action="#">
                    <div class="form-group">
                        <br/>
                        Username <input type = "text" id ="username" name = "username" class="form-control" value="{{ @username }}">
                        <span class="text-danger">{{ @usernameErr }}<br/></span>

                        Password <input type = "password" class = "form-control" name = "password">
                        <span class="text-danger">{{ @passwordErr}}</span>
                    </div>
                    <br/>
                    <input type="submit" id = "submit" name = "submit" class="btn btn-primary" value="Login" />

                </form>

                <br/>
                <hr/>
                <!--Link to registration page-->
                <h5>New user?</h5>
                <a href="{{ @BASE }}/register">Sign up for an account!</a>
            </div>
        </div>
    </div>

    <!-- jQuery Library -->
    <script src="{{ @BASE }}/views/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>

</body>
</html>