<!--
Authors: Quentin Guenther, Kianna Dyck
Date: 05/02/2018
File Name: register.html
Purpose: This file contains forms for creating an account to access the marketing tool application.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registration Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />
</head>
<body>
    <!-- Navigation Menu -->
    <include href="views/html/components/nav.html"/>

    <div class="container mt-2 mb-4">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Register</h1>
                <hr>
            </div>
            <div class="col-md-6">
                <form action="#" method="post">
                    <!-- Email -->
                    <div class="form-group">
                        <small class="text-muted d-block d-lg-none">You need a complex password that changes every hour.</small>
                        <label for="email" class="form-control-label">Green River College Email</label>
                        <input type="text" id="email" name="email" placeholder="jsmith@mail.greenriver.edu" class="form-control">
                    </div>

                    <!-- In-line error message -->
                    <check if="{{isset (@invalidEmail) }}">
                        <p class="text-danger">{{ @invalidEmail }}</p>
                    </check>

                    <!-- First Name -->
                    <div class="form-group">
                        <label for="first-name" class="form-control-label">First Name</label>
                        <input type="text" id="first-name" name="first-name" placeholder="John" class="form-control">
                    </div>

                    <!-- In-line error message -->
                    <check if="{{isset (@invalidFirst) }}">
                        <p class="text-danger">{{ @invalidFirst }}</p>
                    </check>

                    <!-- Last Name -->
                    <div class="form-group">
                        <label for="last-name" class="form-control-label">Last Name</label>
                        <input type="text" id="last-name" name="last-name" placeholder="Smith" class="form-control">
                    </div>

                    <!-- In-line error message -->
                    <check if="{{isset (@invalidLast) }}">
                        <p class="text-danger">{{ @invalidLast }}</p>
                    </check>

                    <!-- Password -->
                    <div class="form-group">
                        <small class="text-muted d-block d-lg-none">You need a complex password that changes every hour.</small>
                        <small class="text-muted d-block d-lg-none">Passwords must match.</small>
                        <label for="password" class="form-control-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>

                    <!-- Password Confirmation -->
                    <div class="form-group">
                        <label for="password-confirm" class="form-control-label">Confirm Password</label>
                        <input type="password" id="password-confirm" name="password-confirm" class="form-control">
                    </div>

                    <!-- In-line error message -->
                    <check if="{{isset (@invalidPassword) }}">
                        <p class="text-danger">{{ @invalidPassword }}</p>
                    </check>

                    <!-- Passwords do not match -->
                    <check if="{{isset (@mismatchedPasswords) }}">
                        <p class="text-danger">{{ @mismatchedPasswords }}</p>
                    </check>

                    <!-- Radio buttons to select to create a new team or join an existing team -->
                    <small class="text-muted d-block d-lg-none">Current Teams: Team 1, Team 2, Team 3</small>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="form-check">
                                <input id="join-team" class="form-check-input" type="radio" name="teamChoice" value="old" checked>
                                <label for="join-team" class="form-check-label">Join Existing Team</label>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-check">
                                <input id="add-team" class="form-check-input" type="radio" name="teamChoice" value="new">
                                <label for="add-team" class="form-check-label">Create New Team</label>
                            </div>
                        </div>
                    </div>

                    <!-- Drop-down menu containing existing team options -->
                    <div class="form-group" id="existing-team">

                        <label for="team" class="form-control-label">Existing Teams</label>
                        <select name="team" id="team" class="form-control">
                            <option value="" disabled selected>Select your team</option>
                            <repeat group="{{ @currentTeams }}" value="{{ @team }}">
                                <option value="{{ @team['teamId'] }}"
                                <check if="{{ @team['teamId'] == $_POST['team']}}">selected</check>>
                                    {{ @team['team_name']}}
                                </option>
                            </repeat>

                        </select>
                    </div>

                    <!-- Input field to create a new team -->
                    <div class="form-group" id="new-team">
                        <label for="create-team" class="form-control-label">Team Name</label>
                        <input type="text" id="create-team" name="create-team" class="form-control" placeholder="Team Name">
                    </div>

                    <!-- Submit Button -->
                    <input type="submit" class="btn bg-green-river-green mt-4" name="submit" value="Register">
                </form>
            </div>

            <!-- Aside for larger screens containing guidelines, complexity requirements, and available/existing teams -->
            <div class="col-md-6 d-none d-lg-block">
                <aside>
                    <section class="bg-light p-2 rounded">
                        <h5>Requirements</h5>
                        <ul>
                            <li>All fields must be filled out.</li>
                            <li>Please use your Green River Email address.</li>
                            <li>You need a complex password that changes every hour.</li>
                            <li>Passwords must match.</li>
                        </ul>
                    </section>


                    <section class="mt-1 p-2">
                        <h5>Current Teams</h5>

                        <ul>
                        <repeat group="{{ @teamMembers }}" key="{{ @key }}" value="{{ @value }}">
                            <li>
                            {{ @key }}:
                                <ul>
                                <repeat group=" {{ @value }}" value="{{ @member }}">
                                    <li>{{ @member['first_name'] }} {{ @member['last_name'] }}</li>
                                </repeat>
                                </ul>
                            </li>
                        </repeat>
                        </ul>
                    </section>

                </aside>
            </div>
        </div>
        
        
    </div>

    <!-- Bootstrap -->
    <script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>
    <!-- jQuery Library -->
    <script src="{{ @BASE }}/views/js/jquery.min.js"></script>
    <!-- External js -->
    <script src="{{ @BASE }}/views/js/register.js"></script>
    
</body>
</html>