<!--
Name: Kianna Dyck, Bessy Torres-Miller
Date: 04/13/2018
File Name: team-home.html
Purpose: This file is the home page for a given team. It contains a list of project idea links that when clicked
redirects the user to another page with the project's information and discussion. This page also contains a list of
member names in the team, the team name, and an add button to add a new project idea.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Agility Team</title> <!-- Replaced with {{ @teamName }} -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/simple-sidebar.css" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />

</head>
<body>

<include href="views/html/components/nav.html">

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">Team Members</li>
            <li>
                Kianna Dyck
            </li>
            <li>
                Jen Shin
            </li>
            <li>
                Quentin Guenther
            </li>
            <li>
                Bessy Torres-Miller
            </li>

        </ul>
    </div>


    <!-- Main Content -->
    <div class="container">
        <h1 class="text-center">Team Name</h1>

        <a href="#menu-toggle" class="btn btn-secondary mb-3" id="menu-toggle">Team Members</a>
        <!-- Add Button -->
        <a class="btn mb-3 bg-green-river-green" href="./create-post">Add New Project</a>

        <!-- Project Idea Posts -->
        <check if="{{isset (@noPosts) }}">
            <p class="text-center">{{ @noPosts }}</p>
        </check>

        <div class="list-group">
            <repeat group="{{ @postIdeas }}" value="{{ @post }}">
                <a href= "{{ @BASE }}/view-post/{{ @post['postId']}}" class="list-group-item list-group-item-action">{{ @post['title'] }}</a>
            </repeat>
        </div>

    </div> <!-- container -->

</div> <!-- wrapper -->


<!-- Scripts -->
<!-- jQuery -->
<script src="{{ @BASE }}/views/js/jquery.min.js"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>

<!-- Bootstrap js -->
<script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>
<script src="{{ @BASE }}/views/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<!-- External js -->
<!--<script src=""></script>-->

</body>

</html>