<!--
Authors: Kianna Dyck, Bessy Torres-Miller
Date: 04/13/2018
File Name: team-home.html
Purpose: This file is the home page for a given team. It contains a list of project idea links that when clicked
redirects the user to another page with the project's information and discussion. This page also contains a list of
member names in the team, the team name, and an add button to add a new project idea.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ @teamName }} Home</title> <!-- Replaced with {{ @teamName }} -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/simple-sidebar.css" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ @BASE }}/views/css/bootstrap.min.css" />

    <!-- External Styles -->
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/views/css/styles.css" />

</head>
<body>

<!-- Navigation Menu -->
<include href="views/html/components/nav.html" />

<div id="wrapper">

    <!-- Main Content -->
    <div class="container">
        <h1 class="text-center"><span class="text-secondary">{{ @teamName }}</span> Project Ideas</h1>
        <h5 class="text-center text-dark">
            <repeat group="{{ @teamMembers }}" value="{{ @member }}">
                {{ @member['first_name'] }} {{ @member['last_name'] }} &nbsp;&nbsp;
            </repeat>
        </h5>
        <br>

        <!-- Add Button -->
        <check if="{{$_SESSION['admin']==1}}">
            <false>
                <a class="btn mb-3 bg-green-river-green" href="{{ @BASE }}/create-post">Add New Project</a>
            </false>
        </check>

        <!-- Project Idea Posts -->
        <check if="{{isset (@noPosts) }}">
            <p class="text-center">{{ @noPosts }}</p>
        </check>

        <div class="list-group">
            <repeat group="{{ @postIdeas }}" value="{{ @post }}">
                     <a href= "{{ @BASE }}/view-post/{{ @post['postId']}}"
                              class="list-group-item list-group-item-action list-bg">{{ @post['title'] }} (
                         <check if="{{ @post['totalVotes'] == NULL}}">
                             <true> 0 </true>
                             <false>{{ @post['totalVotes'] }}</false>
                         </check>
                          )</a>
            </repeat>
        </div>

    </div> <!-- container -->

</div> <!-- wrapper -->


<!-- Scripts -->
<!-- jQuery -->
<script src="{{ @BASE }}/views/js/jquery.min.js"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>

<!-- Bootstrap js -->
<script src="{{ @BASE }}/views/js/bootstrap.min.js"></script>
<script src="{{ @BASE }}/views/js/bootstrap.bundle.min.js"></script>


<!-- External js -->
<script src="{{ @BASE }}/views/js/team-home.js"></script>

</body>

</html>