<div>
    <p><strong>Note:</strong><br>Your post must be less than 7mb <em>total</em>. Below is a progress bar to help you gauge the size of your post. If you find your post going over the limit, try resizing and/or compressing your images.</p>
</div>
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br>

<span class="text-danger">{{ @contentErr}}</span>

<div class="form-group">
    <input type = "hidden" name = "new-post">
    <div id="editor-container" rel="quill-editor"  tabindex="2"></div>
</div>