
<!--Popper library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!--jQuery library-->
<script src="http://code.jquery.com/jquery.js"></script>

<!-- jQuery -->
<script src="{{ @BASE }}/views/js/jquery.min.js"></script>



<nav class="navbar navbar-expand-lg navbar-light bg-green-river-green mb-2">
    <check if ="{{ @_SESSION['userId'] }}">
        <true>
            <check if ="{{ @_SESSION['admin'] }}">
                <true>
                    <a class="navbar-brand" href="{{ @BASE }}/">Marketing Teams</a>
                </true>
                <false>
                    <a class="navbar-brand" href="{{ @BASE }}/">Project Ideas</a>
                </false>
            </check>
        </true>
        <false>
            <a class="navbar-brand" href="{{ @BASE }}/login">Home</a>

        </false>
    </check>
    <!-- Hamburger Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <check if ="{{ @_SESSION['userId'] }}">
                <true>
                    <li class="nav-item dropdown">
                        <check if ="{{ @_SESSION['admin'] }}">
                            <false>
                                <a class=" nav-link dropdown-toggle" data-toggle="dropdown" href="#">Help</a>
                                <ul class="dropdown-menu dropdown-menu-right text-dark ">

                                    <li class="dropdown-item">
                                        <check if="{{ @_SESSION['hasChangedTeam'] == 0}}">
                                            <true>
                                                <a class="nav-link text-dark" href="{{ @BASE }}/change-teams">
                                                    <span class="text-dark">Change Team</span>
                                                </a>
                                            </true>
                                            <false>
                                                <a class="nav-link text-dark" href="{{ @BASE }}/teams">
                                                    <span id ="noChangeTeam" class="text-dark">Change Team</span>
                                                </a>
                                            </false>
                                        </check>
                                    </li>

                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" href="{{ @BASE }}/faq">
                                            <span class="text-dark">FAQ</span>
                                        </a>
                                    </li>

                                </ul>
                            </false>
                        </check>
                    </li>
                </true>
            </check>

            <check if ="{{ @_SESSION['userId'] }}">
                <li class="nav-item"><a class="nav-link" href="{{ @BASE }}/logout">Logout</a></li>
            </check>
        </ul>
    </div>

</nav>


<!-- Scripts -->
<script src="{{ @BASE }}/views/js/teamChanged.js"></script>









