<nav class="navbar navbar-expand-lg navbar-light bg-green-river-green mb-2">
    <check if ="{{ @_SESSION['userId'] }}">
        <true>
            <a class="navbar-brand" href="{{ @BASE }}/">Home</a>
        </true>
    </check>
    <!-- Hamburger Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <check if ="{{ @_SESSION['userId'] }}">
                <!--<li class="nav-link"> {{ @_SESSION['email'] }}</li>-->
                <true>
                    <li class="nav-item"><a class="nav-link" href="#">Account</a></li>
                </true>
                <false>
                    <li class="nav-item"><a class="nav-link" href="./admin-login">Admin Login</a></li>
                </false>
            </check>
            <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
            <check if ="{{ @_SESSION['userId'] }}">
                <li class="nav-item"><a class="nav-link" href="./logout">Logout</a></li>
            </check>
        </ul>
    </div>
</nav>
